body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.container{
    margin: auto;
    display: grid;
   /* background-color: aqua;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

    */
    width: 60%;
    height: 70%;
}
.square{
    height: 100%;
}
.btn-div{
    margin: auto;
    text-align: center;
    max-width: 20%;
    
}
.btn{
    background-color: lightskyblue;
    color: midnightblue;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    height: 50px;
    width: 70%;
}